<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu">
          <li class="nav-item dropdown" onclick="toggleView('dashboard-view')">
            <a id="nav-dashboard" class="dropdown-toggle" href="#">
              <span class="ico" title="dashboard"><i class="fa fa-bar-chart"></i></span>
            </a>
          </li>
          {% if report.tests.length > 0 %}
            <li class="nav-item dropdown" onclick="toggleView('test-view')">
              <a id="nav-test" class="dropdown-toggle" href="#">
                <span class="ico" title="tests"><i class="fa fa-list"></i></span>
              </a>
            </li>
          {% endif %} 
          {% if report.stats.exceptions.size > 0 %}
            <li class="nav-item dropdown" onclick="toggleView('exception-view')">
              <a id="nav-exception" class="dropdown-toggle" href="#">
                <span class="ico" title="errors"><i class="fa fa-bug"></i></span>
              </a>
            </li>
          {% endif %}
          {% if report.stats.categories.size > 0 %}
            <li class="nav-item dropdown" onclick="toggleView('category-view')">
              <a id="nav-category" class="dropdown-toggle" href="#">
                <span class="ico" title="tags"><i class="fa fa-tag"></i></span>
              </a>
            </li>
          {% endif %}
          {% if report.stats.devices.size > 0 %}
            <li class="nav-item dropdown" onclick="toggleView('device-view')">
              <a id="nav-device" class="dropdown-toggle" href="#">
                <span class="ico" title="devices"><i class="fa fa-tablet"></i></span>
              </a>
            </li>
          {% endif %}
          {% if report.stats.authors.size > 0 %}
            <li class="nav-item dropdown" onclick="toggleView('author-view')">
              <a id="nav-author" class="dropdown-toggle" href="#">
                <span class="ico" title="authors"><i class="fa fa-user"></i></span>
              </a>
            </li>
          {% endif %}
          {% if report.stats.rules.size > 0 %}
            <li class="nav-item dropdown" onclick="toggleView('rule-view')">
              <a id="nav-rule" class="dropdown-toggle" href="#">
                <span class="ico" title="rules"><i class="fa fa-cubes"></i></span>
              </a>
            </li>
          {% endif %}
        </ul>
    </div>
</div>
