{% import "macros/step_logs_macro.njk" as stepLogs %}
{% import "macros/step_error_macro.njk" as stepError %}
{% import "macros/datatable_macro.njk" as datatable %}
{% import "macros/docstring_macro.njk" as docstring %}
{% import "macros/test_display_macro.njk" as testdisplay %}

<ul class="test-list-item">
	{% for test in report.tests %}

		<li class="test-item" status="{{test.status | lower}}" test-id="{{test.id}}" author="" tag='{{ test.categories | join(" ") }}' device="">
			{{ testdisplay.feature_details_left_display(test) }}

			{# Right side Feature details top #}
			<div class="test-contents d-none">
				{{ testdisplay.feature_details_right_display(test) }}

				{# Right side SC,SO -> Step details #}
				<div class="accordion mt-4">

					{# Scenario or Scenario Outline level #}
					{% for scenorout in test.childTests %}
						<div class="card">
							{{ testdisplay.scenout_or_scen_details_display(scenorout) }}

							{# Scenario Outline level #}
							{% if scenorout.type == "Scenario Outline" %}
								{% set collapseSO = "collapse" if scenorout.status == 'Pass' else ""%}
								<div class="scenario_outline {{collapseSO}}">
									
									{# Scenario Scenario Outline level #}
									{% for exrow in scenorout.childTests %}
										<div class="card-body l1">
											{{ testdisplay.scen_in_scenout_details_display(exrow) }}

											{# Step Scenario Outline level #}
											{% set collapseStepSO = "collapse" if exrow.status == 'Pass' else ""%}
											<div class="card-body mt-3 {{ collapseStepSO }}">
												{{ testdisplay.scenario_rules_display(exrow) }}
												{{ testdisplay.scenario_tags_display(exrow.categories) }}
												{{ testdisplay.steps_display(exrow.childTests) }}
              				</div>
										</div>
									{% endfor %}
								</div>
							{% else %}

								{# Step Scenario level #}
								{% set collapseStepSc = "collapse" if scenorout.status == 'Pass' else ""%}
									<div class="{{ collapseStepSc }}">
										<div class="card-body">
											{{ testdisplay.scenario_rules_display(scenorout) }}
											{{ testdisplay.scenario_tags_display(scenorout.categories) }}
											{{ testdisplay.steps_display(scenorout.childTests) }}
              			</div>
									</div>		
							{% endif %}

						</div>	
					{% endfor %}
				</div>

			</div>
		</li>
	{% endfor %}
</ul>