{% import "macros/test_tools_macro.njk" as testfilters %}

<div class="test-wrapper row view test-view">
  <div class="test-list">
    <div class="test-list-tools">
      <ul class="tools pull-left">
        <li><a href="#"><span class="font-size-14">Tests</span></a></li>
      </ul>
  
	    {# Search tools html snippet#}
      <ul class="tools text-right">
        <li class="dropdown">
          {{ testfilters.status_filter(report.stats.statusFeatureCounts) }}
        </li>
        
        {% if report.stats.authors.size > 0 %}
          <li class="dropdown">
            {{ testfilters.attribute_filter("fa-user", report.stats.authors.keys()) }}
          </li>
        {% endif %}

        {% if report.stats.categories.size > 0 %}        
          <li class="dropdown">
            {{ testfilters.attribute_filter("fa-tag", report.stats.categories.keys()) }}
          </li>
        {% endif %}

        {% if report.stats.devices.size > 0 %}
          <li class="dropdown">
            {{ testfilters.attribute_filter("fa-tablet", report.stats.devices.keys()) }}
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="test-list-wrapper scrollable">
      {% include "partials/testsdisplay.njk" %}    	
    </div>
  </div>

  <div class="test-content scrollable">
      <div class="test-content-tools">
          <ul><li><a class="back-to-test" href="#"><i class="fa fa-arrow-left"></i></a></li></ul>
      </div>
      <div class="test-content-detail"><div class="detail-body"></div></div>
  </div>
</div>