<div class="test-wrapper row view test-view">
  <div class="test-list">
    <div class="test-list-tools">
      <ul class="tools pull-left">
        <li><a href="#"><span class="font-size-14">Tests</span></a></li>
      </ul>
  
	    {# Search tools html snippet#}
      <ul class="tools text-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-exclamation-circle"></i></a>
          <ul id="status-toggle" class="dropdown-menu dropdown-md p-v-0">
            {% for status, count in report.stats.statusFeatureCounts %}
              {% if count > 0%}
                {% if status == "Pass" %}
                  <a class="dropdown-item" status="pass" href="#"><span>Pass</span><span class="status success"></span></a>
                {% endif%}
                {% if status == "Fail" %}
                  <a class="dropdown-item" status="fail" href="#"><span>Fail</span><span class="status danger"></span></a>
                {% endif%}
                {% if status == "Skip" %}
                  <a class="dropdown-item" status="skip" href="#"><span>Skip</span><span class="status warning"></span></a>
                {% endif%}
              {% endif%}
            {%endfor%}
            <div class="dropdown-divider"></div>
            <a status="clear" class="dropdown-item" href="#"><span>Clear</span><span class="pull-right"><i class="fa fa-close"></i></span></a>
          </ul>
        </li>
        
        {% if report.stats.authors.size > 0 %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
          </li>
        {% endif %}

        {% if report.stats.categories.size > 0 %}        
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tag"></i></a>
            <ul id="tag-toggle" class="dropdown-menu dropdown-md p-v-0">
              {% for category in report.stats.categories.keys() %}
                <a class="dropdown-item" href="#">{{ category }}</a>
              {% endfor %}
            </ul>
          </li>
        {% endif %}

        {% if report.stats.devices.size > 0 %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tablet"></i></a>
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="test-list-wrapper scrollable">
      {% include "partials/testsdisplay.njk" %}    	
    </div>
  </div>

  <div class="test-content scrollable">
      <div class="test-content-tools">
          <ul><li><a class="back-to-test" href="#"><i class="fa fa-arrow-left"></i></a></li></ul>
      </div>
      <div class="test-content-detail"><div class="detail-body"></div></div>
  </div>
</div>