<!DOCTYPE html>
<html>
{% include "partials/head.njk" %}
<body class="spa bdd-report {{ report.config.theme }}">
  <div class="app">
    <div class="layout">
      {% include "partials/navbar.njk" %}
      {% include "partials/sidenav.njk" %}
      <div class="vcontainer">
        <div class="main-content">
          {% include "partials/dashboard.njk" %}
          {% include "partials/test.njk" %}
          {% include "partials/exception.njk" %}
          {% include "partials/category.njk" %}
          {% include "partials/device.njk" %}     
          {% include "partials/author.njk" %}
          {% include "partials/rule.njk" %}
        </div>
      </div>
    </div>
  </div>
{% include "partials/scripts.njk" %}
</body>
</html>