{% macro step_logs_display(step) %}
    {% for log in step.logs %}
			{% if log.type == 'attachment' %}
				{% if log.text %}
					<details>
						<summary>Text Log</summary>
						<pre>{{ log.text }}</pre>
					</details>
				{% elif log.video %}
					<details>
						<summary>Video Log</summary>
						<video controls>
						<source src="data:{{ log.mediatype }};base64,{{ log.video | trim}}" />
						Your browser is unable to display video
						</video>
					</details>
				{% elif log.image %}
					<details>
						<summary>Image Log</summary>	
						<div class="row mb-3"><div class="col-md-3">
							<a href="data:{{ log.mediatype }};base64,{{ log.image | trim}}" class="base64-img" data-featherlight="image">
								<img src="data:{{ log.mediatype }};base64,{{ log.image | trim}}" />
							</a>
						</div></div>
					</details>
				{% else %}
					<details>
						<summary>Invalid '{{ log.mediatype }}' Log</summary>
						<pre>{{ log.error }}</pre>
					</details>	
				{% endif %}
			{% endif %}
		{% endfor %}
{% endmacro %}